
<div class="bg-black cart-div" [ngClass]="{'active': showCart}">
  <div class="position-relative">
    <div class="position-absolute close-icon-div" (click)="toggleShowCart()">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="cart-content">

      <div *ngFor="let prod of cart" class="my-5">
        <div class="container-img">
          <img [src]="prod.img" alt="{{prod.titolo}}" class="img-fluid">
        </div>
        <div>
          <p class="text-white">{{ prod.titolo }} Total Price: {{ prod.totalPrice }}</p>
          <a (click)="add(prod)" class="btn btn-success"><i class="fas fa-plus"></i></a>
          <a (click)="cestina(prod)" class="btn btn-warning"><i class="fas fa-trash-alt"></i></a>
        </div>
      </div>
    </div>
    <div *ngIf="isEmpty">
      <div class="" >
        <h5 class="text-dark"> Stai acquistando {{ totalProducts }} prodotti con un prezzo totale di {{ totalPrice }} Euro </h5>
      </div>
      <button class="btn btn-success"> PROCEDI AL CHECKOUT </button>
    </div>
  </div>
</div>

