<div class="position-absolute bg-primary cart-div" [ngClass]="{'active': showCart}">
  <div class="position-relative">
    <div class="position-absolute close-icon-div" (click)="toggleShowCart()">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="cart-content">

      <div *ngFor="let prod of cart">
        <div class="container-img">
          <img [src]="prod.img" alt="{{prod.titolo}}" class="img-fluid">
        </div>
        <div>
          <p class="text-white">{{ prod.titolo }} Total Price: {{ prod.totalPrice }}</p>
          <a (click)="add(prod)" class="btn btn-success"><i class="fa-sharp fa-regular fa-plus-large"></i></a>
          <a (click)="cestina(prod)" class="btn btn-warning"><i class="fa-solid fa-trash-plus"></i> </a>
        </div>
      </div>
