<div class="bg-primary">
  <div class="container">
    <footer class="pt-5 pb-2 text-white">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 text-center">
          <a class="h1" routerLink="/">MARKETPLACE</a>
        </div>

        <div class="col-12 col-md-5 offset-md-1 mt-3 mt-md-0 mb-3">
          <form>
            <h5>Iscriviti alla nostra newsletter</h5>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Indirizzo email</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Indirizzo email" [(ngModel)] = "email" name="email">
              <button class="btn btn-primary" type="button" (click)="iscriviti()">Iscriviti</button>
            </div>
          </form>
        </div>
      </div>
      <div class="pt-4 mt-4 text-center border-top">
        <p class="mb-0">Marketplace 2023&copy;</p>
        <p class="mb-0">P.IVA 182740327068</p>
      </div>
    </footer>
  </div>

</div>
