footer{
  a{
    text-decoration: none;
  }
  p{
    font-size: 0.8rem;
  }
}

.bg-color-footer {
    background: linear-gradient(to bottom,#570D02,#8C1502);
}

.footer-icon {
  color: #fff;
  font-size: 1.2rem;
}

.footer-link {
  text-decoration: none;
}
