<div class="bg-color-footer">
  <div class="container">
    <footer class="pt-5 pb-2 text-white">
      <div class="row a">
        <div class="col-12 col-md-6">
          <a class="h1" routerLink="/">BRUTALE</a>
        </div>

        <div class="col-12 col-md-5 offset-md-1 mt-3 mt-md-0 mb-3">
          <form>
            <h5 class="mb-3">Iscriviti alla nostra newsletter</h5>
            <div class="d-flex flex-column flex-lg-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Indirizzo email</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Indirizzo email">
              <button class="button" type="button">Iscriviti</button>
            </div>
          </form>
        </div>
      </div>

      <div class="row mt-3 mt-md-0">
        <div class="col-sm-12 col-md-3 col-md-4">
          <ul class="list-unstyled d-flex flex-column">
            <li class="mb-2"><a href="" class="footer-link text-white"><i class="fa-brands fa-github footer-icon me-2"></i>Repository Git</a></li>
            <li class="mb-2"><a href="" class="text-white"><i class="fa-brands fa-linkedin footer-icon me-2"></i>Emanuele Macchiarulo</a></li>
            <li class="mb-2"><a href="" class="text-white"><i class="fa-brands fa-linkedin footer-icon me-2"></i>Alessandro Forestiero</a></li>
            <li class="mb-2"><a href="" class="text-white"><i class="fa-brands fa-linkedin footer-icon me-2"></i>Gabriele Iannuzzo</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-md-4">
          <ul class="list-unstyled d-flex flex-column">
            <li class="mb-2"><a href="" class="text-white"><i class="fa-brands fa-linkedin footer-icon me-2"></i>Samuele Toscano</a></li>
            <li class="mb-2"><a href="" class="text-white"><i class="fa-brands fa-linkedin footer-icon me-2"></i>Lorenzo Bianchini</a></li>
            <li class="mb-2"><a href="" class="text-white"><i class="fa-brands fa-linkedin footer-icon me-2"></i>Vincenzo Rocca</a></li>
            <li class="mb-2"><a href="" class="text-white"><i class="fa-brands fa-linkedin footer-icon me-2"></i>Federica Fumanti</a></li>
          </ul>
        </div>
      </div>

      <div class="py-4 mt-4 text-center border-top">
        <p class="mb-0">Marketplace Bru(Na)tale 2023&copy;</p>
        <p class="mb-0">P.IVA 182740327068</p>
      </div>
    </footer>
  </div>

</div>
