<nav class="navbar navbar-expand-lg bg-body-tertiary bg-color border-bottom border-white">
  <div class="container-fluid py-2">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/logo.png" alt="Bootstrap" width="140" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleShowNav()">
      <span class="navbar-toggler-icon hamburger"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': showNav}">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex ">
        <li class="nav-item me-2 mb-2 mb-md-0">
          <a class="button" routerLink="/" (click)="toggleShowNav()">HOME</a>
        </li>
        <li class="nav-item me-2 mb-2 mb-md-0">
          <a class="button" routerLink="/preferiti" (click)="toggleShowNav()">PREFERITI</a>
        </li>
        <li class="nav-item mb-2 mb-md-0" *ngIf="isLogged">
          <a class="button" routerLink="/form" (click)="toggleShowNav()">VENDI UN PRODOTTO</a>
        </li>
        <li class="nav-item">
          <div class="d-flex justify-content-between align-items-center">
            <button class="nav-link d-lg-none button" (click)="toggleAll()">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </div>
        </li>
      </ul>
      <div class="d-flex">
        <button (click)="handleRedirect()" class="button me-4">{{isLogged ? "LOGOUT" : "LOGIN"}}</button>
      </div>
      <a class="nav-link me-2" [routerLink]="'/profilo/' + user.id" *ngIf="isLogged">
        <i class="fa-solid fa-user"></i>
      </a>
      <button class="nav-link d-none d-lg-block me-2" (click)="toggleAll()">
        <i class="fa-solid fa-cart-shopping  mt-3 mt-lg-0 ms-lg-2" ></i>
      </button>
    </div>
  </div>
</nav>
