
<div class="row ">

  <div class="card text-end col-6 p-0 " *ngFor="let prod of userProd" >
    <img src="{{prod.img}}" alt="{{prod.titolo}}">
    <h5 class="card-title">{{prod.titolo}}</h5>
    <p class="card-text">{{prod.descrizione}}</p>
    <p class="card-text">{{prod.prezzo}}</p>
    <p class="card-text">Sono rimaste solo {{prod.quantita}} disponibili di {{prod.titolo}}</p>

    <a  class="btn btn-primary">Vai alla pagina Prodotto</a>
    <!-- <a (click)="RemoveFromYourProduct(pref.id)" class="btn btn-primary">Rimuovi dai Preferiti</a> -->

  </div>
</div>

