<div class="chat-container">
  <div class="chat-messages">
    <div class="message user-message">
      <span class="message-content" *ngIf="answer && !loading ">Ciao, come posso aiutarti?</span>
      <span class="message-content" *ngIf="!answer && !loading ">{{response}}</span>
      <span class="message-content" *ngIf="loading"> Sta scrivendo... </span>
    </div>

    <div class="message assistant-message">
      <span class="message-content">{{messagge}}</span>
    </div>
  </div>

  <div class="chat-input">
    <input type="text" placeholder="Scrivi un messaggio..." [(ngModel)]="messagge">
    <button (click)="callChat()">Invia</button>
  </div>

  <div class="close-chat" (click)="closeChat()">X</div>
</div>

<div class="open-chat-icon" (click)="openChat()">Icona Chat</div>


