.cart-div{
  width: 100%;
  height: calc(100vh - 56px);
  top: 56px;
  left: 100%;
  transition: all 0.5s;
  z-index: 1;
  &.active{
    left: 0;
  }
  @media screen and (min-width: 576px){
    width: 67%;
    &.active{
      left: 33%;
    }
  }
  @media screen and (min-width: 1192px){
    width: 33%;
    &.active{
      left: 67%;
    }
  }
  &>div{
    height: 100%;
    .close-icon-div{
      top: 15px;
      right: 15px;
      cursor: pointer;
      i{
        font-size: 2rem;
      }
    }
  }
}
