<div class="container">

  <div class="position-relative my-5">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let item of items; let i = index" [ngClass]="{'active': i === activeIndex}">
          <img [src]="item" class="d-block carosello" alt="carosello immagini">
        </div>
        <h2 class="titolo-carosello">
          Marketplace
        </h2>
      </div>
    </div>
  </div>




    <div class="row my-3">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let p of product">
        <img src="{{ p.img }}" class="img-fluid" alt="immagine-prodotto">
        <div class="card-img-overlay cardOverlay position-relative">
          <a class="position-absolute" [routerLink]="'/prodotto/' + p.id" >
            SCOPRI DI PIÙ
          </a>
      </div>
      </div>
  </div>


  </div>
