<div class="container">

  <div class="position-relative">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/d1/10/30/getlstd-property-photo.jpg?w=1200&h=-1&s=1"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://img.freepik.com/free-photo/sports-tools_53876-138077.jpg" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/d1/10/30/getlstd-property-photo.jpg?w=1200&h=-1&s=1"
            class="d-block w-100" alt="...">
        </div>
      </div>
    </div>




    <div class="row" *ngFor="let p of product">
      <div class="col-12 col-md-6 col-lg-4" >

        <div class="position-absolute my-5" >
          <h2>
            <div class="card text-bg-dark position-relative">
              <img
                src={{p.img}}
                class="card-img"
                alt="immagine-prodotto">
              <div class="card-img-overlay cardOverlay">
                <button class="position-absolute button-transparent" routerLink="/prodotto">
                  SCOPRI DI PIÙ
                </button>
              </div>
            </div>
          </h2>
        </div>
      </div>
    </div>

  </div>
</div>
