<div class="container">

  <div class="position-relative my-5">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let item of items; let i = index" [ngClass]="{'active': i === activeIndex}">
          <img [src]="item" class="d-block carosello" alt="carosello immagini">
        </div>
        <h2 class="titolo-carosello">
          Marketplace
        </h2>
      </div>
    </div>
  </div>

    <div class="row my-3 position-relative">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let p of styleProduct;let i=index">
        <div class="position-relative">
          <img src= '{{ p.img }}' class="img-fluid  rounded-3" alt="immagine-prodotto" [ngClass]="{'blur': p.hover}">
          <div class="position-absolute top-50 start-50 translate-middle">
            <button (mouseover)="onButtonMouseOver(i)" (mouseout)="onButtonMouseOut(i)" class="button-transparent text-light">
              SCOPRI DI PIÙ
            </button>

          </div>
        </div>
        <div class="desc">
        <span>{{p.titolo}}</span>
        <span class="ms-1">{{p.prezzo}}$</span>
      </div>
      </div>

    </div>






  </div>
