
<div class="row ">

  <div class="card text-end col-6 p-0 " *ngFor="let pref of preferiti" >
    <img src="{{pref.img}}" alt="{{pref.titolo}}">
    <h5 class="card-title">{{pref.titolo}}</h5>
    <p class="card-text">{{pref.descrizione}}</p>
    <p class="card-text">{{pref.prezzo}}</p>
    <p class="card-text">Sono rimaste solo {{pref.quantita}} disponibili di {{pref.titolo}}</p>

    <a  class="btn btn-primary">Vai alla pagina Prodotto</a>
    <a (click)="RemoveFromFavourite(pref.id)" class="btn btn-primary">Rimuovi dai Preferiti</a>

  </div>
</div>
