/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'sweetalert2/src/sweetalert2.scss';
.swal2-title{
  font-size: 25px;
}
.swal2-confirm.swal2-styled{
  background-color: orange;
}

body{
  overflow-x: hidden;
  //background-image: url('./assets/Senza\ titolo.png');//

}
